<main class="main">
  <h2 class="main__title">Lista de Vacantes</h2>
  <div class="main__job">
    <div>
      <h3 class="main__job-title">Facebook</h3>
      <p class="main__job-description">React Developer</p>
    </div>
    <div>
      <p class="main__job-info">Ubicacion</p>
      <p class="main__job-info-2">Remoto</p>
    </div>
    <div>
      <p class="main__job-info">Contrato</p>
      <p class="main__job-info-2">Tiempo completo</p>
    </div>
    <div>
      <a href="#" class="main__job-button">Mas info</a>
    </div>
  </div>
</main>