
<main>
  <form action="/log-in" method="POST" class="create-account__form form-log-in">
    <div class="create-account__form__field">
      <label class="create-account__form__field__label">E-mail</label>
      <input type="email" name="email" placeholder="Tu Email" required class="create-account__form__field__input">
    </div>
    <div class="create-account__form__field">
      <label class="create-account__form__field__label">Password</label>
      <input type="password" name="password" placeholder="Tu Password" required class="create-account__form__field__input">
    </div>
    <div class="form-log-in-field">
      <a href="/create-account"class="anchor">Crea una cuenta</a>
      <a href="/reset-password"class="anchor">Restablece tu password</a>
    </div>
    <div class="create-account__form__field">
      <input type="subimt" value="Iniciar Sesion">
    </div>
  </form>
</main>